*.bak
/xslt/spec/xspec/
/tmp
/workspace
/classes/
*.compiled
*.consistency.stderr
*.consistencycheck
*.docbook
*.html
*.objlist
*.pdf
*.pics/
*.rich
*.richescape
*.tabled.docbook
*.tabled.html
ADA/
KDEA/
engine/
inputs/
zentaworkaround
