<check
      	modelfile="ADA.objlist"
      	modelbasepath="//objectClass[@name='Policy']/object"
      	modelnamepath="@name"
      	modelvaluepath="value[@name='defines']"
      	inputfile="xslt/spec/adainput.xml"
      	inputbasepath="//policy"
      	inputnamepath="@name"
      	inputvaluepath="@influences"/>
